In [1]:
import cv2
import numpy as np
import pandas as pd

In [2]:
data = np.array([[0,255,255,255],[0,0,255,255],[0,0,0,255],[0,0,0,0]])

In [3]:
df = pd.DataFrame(data = data[:,:])

In [4]:
df

   0    1    2    3
0  0  255  255  255
1  0    0  255  255
2  0    0    0  255
3  0    0    0    0

In [5]:
df == 0

      0      1      2      3
0  True  False  False  False
1  True   True  False  False
2  True   True   True  False
3  True   True   True   True

In [6]:
(df!=0).sum(1).sum()

6